@import "reset"

// FONT
@font-face
	font-family: 'BebasNeue'
	src: url('../fonts/BebasNeue Bold.otf') format('opentype')
	font-weight: bold
	font-style: normal

// UTILITY

.wrapper
	max-width: 1180px
	margin: 0 auto

a
	text-decoration: none
sup
	vertical-align: super
	font-size: .6em

.button
	position: relative
	display: block
	height: 50px
	line-height: 50px
	background: #ff5a00
	//box-shadow: inset -150px 0 70px 0 #ff9000
	background: linear-gradient(to bottom, #ff9000, #ff5d00)
	font-weight: bold
	text-align: center
	text-transform: uppercase
	text-shadow: 0px 3px 0px #ff0700
	color: #fff
	//transition: box-shadow 1s ease
	&:hover
		top: 1px
		background: linear-gradient(to top, #ff9000, #ff5d00)
		//box-shadow: inset 150px 0 70px 0 #ff9000
		//transition: box-shadow 1s ease
.triangle
	position: absolute
	left: 0
	right: 0
	width: 128px
	height: 128px
	overflow: hidden
	margin: auto
	transform: rotate(45deg)
	z-index: 1
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 150px
		width: 150px
		transform: rotate(-45deg)
.down
	position: absolute
	left: 0
	right: 0
	width: 30px
	height: 50px
	margin: auto
	background: url('../img/icons/scroll-white.png') no-repeat
	z-index: 2
	cursor: pointer
	border-radius: 20px/20px
	transition: box-shadow .5s
	&:hover
		box-shadow: 0 0 5px 1px #fff
		transition: box-shadow .5s
	&.violet
		background: url('../img/icons/scroll-violet.png') no-repeat
		&:hover
			box-shadow: 0 0 5px 1px #1a1d7c
			transition: box-shadow .5s	
.section-title
	text-align: center
	font-weight: 300
	font-size: 28px
	color: #1a1d7c
	text-transform: uppercase
	em
		display: block
		font-family: 'BebasNeue', sans-serif
		font-weight: bold
		font-size: 92px

// GENERAL

body
	font-family: 'Roboto', sans-serif
	height: 15000px

header
	height: 100px
	background: #1a1d7c

	.logo
		display: block
		width: 240px
		height: 70px
		float: left
		margin-top: 16px
		background: url('../img/logo.png') no-repeat
	.nav
		float: left
		margin: 42px 0 0 35px

		li
			float: left
			padding: 0 23px
			border-left: 1px solid #fff
			&:first-child
				border-left: none
				padding-left: 0
		a
			position: relative
			top: -1px
			color: #fff
			font-weight: 300
			&:hover
				text-decoration: underline
	.contacts
		float: right
		margin-top: 5px
		width: 185px
		a
			font-size: 18px
			font-weight: bold
			color: #fff
		.button
			margin-top: 4px
			height: 40px
			line-height: 40px
			font-size: 14px
			// box-shadow: inset -90px 0 45px 0 #ff9000
			// &:hover
			// 	box-shadow: inset 90px 0 45px 0 #ff9000

section[class*="section-"]
	position: relative
.section-1
	background: url('../img/section-1.jpg') center top no-repeat
	padding-top: 55px
	height: 945px
	.wrapper
		position: relative
		max-width: 1040px
	.section-title
		font-weight: bold
	.triangle
		bottom: -23px
		&:after
			background: url('../img/section-1.jpg') center bottom no-repeat
	.form
		margin: 120px auto 0
		position: relative
		width: 440px
		height: 330px
		background: url('../img/form-border.png') no-repeat
		background-size: contain
		&, & *
			box-sizing: border-box
		form
			position: absolute
			top: -6px
			left: 20px
			width: 400px
			height: 345px
			padding: 30px 25px
			border: 17px solid #fff
			background: rgba(26, 29, 124, .5)
			transform: skewX(-7deg)
		.form-inner
			transform: skewX(7deg)
			width: 300px
			text-align: center
		h3
			font-size: 24px
			color: #fff
			font-weight: 300
			margin-bottom: 20px
			letter-spacing: .9px
			span
				font-size: 42px
				font-family: 'BebasNeue', sans-serif
				font-weight: bold
				font-weight: 600
		input
			border: none
			width: 100%
			height: 50px
			margin-bottom: 10px
			font-size: 16px
		[type="text"]
			color: #a1a1a1
			font-style: italic
			font-weight: 300
			padding: 0 23px
			font-size: 18px
		[type="submit"]
			cursor: pointer
			border-bottom: 2px solid red
	.price
		box-sizing: border-box
		float: left
		width: 175px
		height: 175px
		border-radius: 50%
		background: rgba(26, 29, 124, .7)
		color: #fff
		font-weight: bold
		text-align: center
		padding-top: 40px
		margin-top: 90px
		text-transform: uppercase
		letter-spacing: 2px
		span
			display: block
			font-family: 'BebasNeue', sans-serif
			font-size: 72px
			margin-top: 10px
	.download
		position: relative
		float: right
		margin-top: 90px
		width: 175px
		height: 175px
		border-radius: 50%
		background: rgba(26, 29, 124, .7)
		&:before
			content: ''
			position: absolute
			top: 18px
			left: 0
			right: 0
			margin: auto
			height: 35px
			width: 31px
			background: url('../img/icons/pdf.png') no-repeat
		a
			margin-top: 65px
			margin-left: -60px
			display: block
			width: 300px
			height: 50px
			line-height: 50px
			text-align: center
			text-transform: uppercase
			color: #fff
			font-weight: bold
			background: #1a1d7c
			transition: background .5s ease
			&:hover
				background: #282b9c
				transition: background .5s ease
	.more
		display: block
		margin: 80px auto 0
		width: 300px
		height: 55px
		line-height: 55px
		text-align: center
		color: #1a1d7c
		font-weight: bold
		text-transform: uppercase
		background: #fff
		box-shadow: 0px 10px 10px 0px rgba(7, 9, 81, 0.5)
		&:hover
			box-shadow: 0px 10px 12px 1px rgba(7, 9, 81, 0.6)
			animation: pulse 1s infinite
	@keyframes pulse
		0%, 100%
			box-shadow: 0px 10px 10px 0px rgba(7, 9, 81, 0.5)
		50%
			box-shadow: 0px 10px 11px 1px rgba(7, 9, 81, 0.6)
	.variant
		position: absolute
		bottom: 0px
		left: 10px
		font-size: 18px
		color: #fff
		background: rgba(26, 29, 124, .7)
		padding: 5px 5px 3px 5px
		span
			position: absolute
			display: inline-block
			width: 245px
			padding: 3px 5px 5px 5px
			background: rgba(26, 29, 124, .7)
			bottom: -26px
			left: 0
		i
			position: absolute
			top: -30px
			right: -150px
			width: 125px
			height: 1px
			background: #fff
			transform: rotate(-35deg)
			&:before, &:after
				position: absolute
				content: ''
				height: 10px
				width: 10px
				border-radius: 50%
				background: #fff
			&:before
				top: -5px
				left: -5px
			&:after
				top: -5px
				right: -5px
	.down
		bottom: 140px

.section-2
	background: url('../img/section-2.jpg') center top no-repeat
	height: 1279px
	padding-top: 100px
	.section-title
		color: #fff
		font-size: 24px
		margin-bottom: 60px
		em
			font-size: 100px
	.triangle
		bottom: -43px
		&:after
			background: url('../img/section-2.jpg') center bottom no-repeat
	.advantage
		position: relative
		width: 555px
		height: 170px
		float: left
		background: rgba(26, 29, 124, .8)
		color: #fff
		margin: 0 32px 32px 0
		padding: 10px 30px 10px 130px
		box-sizing: border-box
		outline: rgba(26, 29, 124, .8) solid 8px
		outline-offset: 1px
		.title
			font-size: 28px
			font-family: 'BebasNeue', sans-serif
			font-weight: bold
			margin-bottom: 10px
			text-transform: uppercase
		p
			line-height: 1.4
			font-weight: 300
		.text-wrap
			position: relative
			top: 50%
			transform: translateY(-50%)
		&:before
			position: absolute
			top: 30%
			left: 25px
			content: ''
			height: 70px
			width: 70px
			background: #fff

		@for $i from 1 to 11
			&:nth-child(#{$i}):before
				background: url('../img/icons/advantages-#{$i}.png') center no-repeat
			
	.down
		bottom: 5px

.section-3
	background: url('../img/section-3.jpg') center top no-repeat
	padding-top: 130px
	height: 681px
	color: #fff
	
	.contains
		float: left
		width: 300px
		padding: 42px 0 30px
		background: rgba(26, 29, 124, .8)
		box-shadow: 0px 10px 10px 0px rgba(7, 9, 81, 0.5)
		text-align: center
		.head
			font-size: 32px
			text-transform: uppercase
			font-family: 'BebasNeue', sans-serif

		li
			margin: 80px auto 0
			width: 220px
			display: block
			font-size: 20px
			line-height: 1.3
			position: relative
			&:before
				position: absolute
				top: -45px
				left: 0
				right: 0
				margin: auto
				content: ''
				width: 37px
				height: 37px
				background: url('../img/icons/ok.png') no-repeat
	.section-title
		color: #fff
		font-size: 24px
		margin: 0px 0 50px 100px
		text-align: left
		em
			text-indent: -70px
			font-size: 100px
	p
		font-weight: 300
		margin-bottom: 35px
		line-height: 1.5
		&.bolder
			font-weight: 400
	.info
		margin-left: 322px
	.button
		border-bottom: 2px solid red
		width: 300px
		margin: 50px auto 0
	.triangle
		bottom: -40px
		&:after
			background: url('../img/section-3.jpg') center bottom no-repeat
	.down
		bottom: 35px

.section-4
	height: 616px
	background: url('../img/section-4.jpg') center top no-repeat
	padding-top: 195px

	.triangle
		bottom: -40px
		&:after
			background: url('../img/section-4.jpg') center bottom no-repeat
	.down
		bottom: 35px

	.section-title
		margin-bottom: 60px
	figure
		float: right
		width: 48%
		margin-top: -130px
		margin-right: 100px
	.wrapper>div
		float: left
		width: 35%
		position: absolute

.section-5, .section-6
	.wrapper
		text-align: center
	input
		display: none
	label
		position: relative
		display: inline-block
		width: 400px
		height: 82px
		line-height: 69px
		text-align: center
		cursor: pointer
		margin: 0 37px
		color: #757575
		text-transform: uppercase
		&:after
			position: absolute
			top: 0
			left: 0
			content: ''
			margin: 2px
			height: calc(100% - 19px)
			width: calc(100% - 6px)
			border: 1px dashed #c8cccd
		span
			position: absolute
			bottom: -40px
			text-align: center
			display: none
			font-size: 14px
			color: #757575
			font-weight: 300
			text-transform: none
			width: 100%
		&:hover
			span
				display: block

	input:checked + label
		background: url('../img/tabs.png') no-repeat center
		cursor: default
		&:after
			border: 1px dashed #fff
			
	.tab
		display: none
		clear: left
		margin-top: 35px

	input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
	input:nth-of-type(2):checked ~ .tab:nth-of-type(2)
		display: block

.section-5
	height: 990px
	background: url('../img/section-5.png') center top no-repeat
	padding-top: 150px

	.triangle
		bottom: -40px
		&:after
			background: url('../img/section-5.png') center bottom no-repeat

	.section-title
		margin-bottom: 55px

	.size
		width: 220px
		float: right
		padding-top: 30px

		figure
			position: relative
			float: right
			img
				max-width: 100%
			&.small
				width: 16px
				height: 250px
				margin-right: 40px

				.line-horizontal
					text-indent: -10px

			&.big
				width: 125px
				height: 250px


		[class*="line"]
			border-bottom: 1px solid #757575
			color: #757575
			position: absolute
			font-size: 18px

			&:after, &:before
				position: absolute
				content: ''
				width: 4px
				height: 7px
				bottom: -4px
			&:before
				background: url('../img/icons/line-left.png') no-repeat
				left: -4px
			&:after
				background: url('../img/icons/line-right.png') no-repeat
				right: -4px
		.line-horizontal
			width: calc(100% - 8px)
			top: -28px
			left: 4px
			padding-bottom: 2px
		.line-vertival
			transform: rotate(-90deg)
			width: 234px
			top: 115px
			left: -135px
			padding-bottom: 2px
	.assortments
		margin-right: 220px
		border-right: 5px solid #ebebeb
		padding-right: 20px
		overflow: hidden
	.assortment-example
		float: left
		margin: 0 17px 20px 0
		width: 220px
		height: 100px
		&:nth-child(4n)
			margin-right: 0
		img
			max-width: 100%
			margin-bottom: -3px
		span
			font-size: 12px
			color: #757575

.section-6
	height: 1038px
	background: url('../img/section-6.png') center top no-repeat
	padding-top: 150px

	.triangle
		bottom: -35px
		&:after
			background: url('../img/section-6.png') center bottom no-repeat

	label
		background: #fff
		height: 62px
		&:after
			height: calc(100% - 6px)
	input:checked + label
		background: #e5e5e5
		cursor: default
		i:before, i:after
			position: absolute
			left: 0
			right: 0
			content: ''
			margin: auto
			z-index: 1
			transform: rotate(45deg)
		i:after
			bottom: -6px
			height: 15px
			width: 15px
			border-bottom: 1px dashed #c8cccd
			border-right: 1px dashed #c8cccd
		i:before
			bottom: -8px
			height: 18px
			width: 18px
			background: #e5e5e5
		&:after
			border: 1px dashed #c8cccd
	.tab
		input
			display: none
		label
			//width: 168px
			width: auto
			height: 47px
			line-height: 47px
			margin: 0
			margin-left: -4px
			text-transform: none
			background: none
			border: 1px solid transparent
			&:after
				display: none

		input[name="tab3"]+label
			padding: 0 63px
		input[name="tab4"]+label
			padding: 0 33px
		input:checked + label
			background: #fff
			border: 1px solid #e6e6e6
			border-bottom: none
				

		input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
		input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
		input:nth-of-type(3):checked ~ .tab:nth-of-type(3),
		input:nth-of-type(4):checked ~ .tab:nth-of-type(4)
			display: block

		.tab
			display: none
			clear: left
			margin-top: -2px
			background: #fff
			border-top: 1px solid #e6e6e6
			padding: 32px 70px 60px
			text-align: left
			color: #757575
			overflow: hidden

			img.des
				float: left
				margin-right: 25px
			.title
				font-size: 24px
				font-weight: 400
			p
				margin: 20px 0 36px
				line-height: 1.5
			em
				font-weight: bold
			.examples
				clear: left
				width: 880px
				margin: 0 auto
				padding-top: 40px
			.group-name
				font-size: 18px
				font-weight: 300
				border-bottom: 1px solid #757575
				padding-bottom: 8px
				margin-bottom: 17px
			.assortment-example
				float: left
				text-align: center
				width: 165px
				height: 75px
				margin: 0 13px 19px 0
				span
					font-size: 10px
				&:nth-child(5n + 1)
					margin-right: 0
				img
					max-width: 100%
					margin-bottom: -3px
